USE [QL_KHOHANG]
GO
/****** Object:  User [HTKN]    Script Date: 4/21/2021 9:47:37 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_7208211B95C6493BA659B37D4C2A33C4]    Script Date: 4/21/2021 9:47:37 PM ******/
CREATE ROLE [MSmerge_7208211B95C6493BA659B37D4C2A33C4]
GO
/****** Object:  DatabaseRole [MSmerge_E07C9A1013174B15B164F263D57EF1A6]    Script Date: 4/21/2021 9:47:37 PM ******/
CREATE ROLE [MSmerge_E07C9A1013174B15B164F263D57EF1A6]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 4/21/2021 9:47:37 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_7208211B95C6493BA659B37D4C2A33C4]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_E07C9A1013174B15B164F263D57EF1A6]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 4/21/2021 9:47:37 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraMaNhanVienTonTai]    Script Date: 4/21/2021 9:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KiemTraMaNhanVienTonTai]
@MANV NVARCHAR(10)
AS
BEGIN
	--KIỂM TRA TRONG TABLE CỦA NHÂN VIÊN HIỆN TẠI
	IF EXISTS (SELECT 1 FROM dbo.NHANVIEN WHERE dbo.NHANVIEN.MANV=@MANV)
	BEGIN
		RETURN 1;-- MA NHAN VIEN TON TAI
	END
	--KIEM TRA TRONG TABLE NHANVIEN UA PHAN MANH CON LAI
	IF EXISTS (SELECT 1 FROM LINK.QL_KHOHANG.dbo.NHANVIEN NV WHERE NV.MANV =@MANV)
	BEGIN
		RETURN 1;-- MA NHAN VIEN TON TAI
	END

	RETURN 0;--MA NHAN VIEN CHUA TON TAI
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoTaiKhoan]    Script Date: 4/21/2021 9:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TaoTaiKhoan]
	@LGNAME VARCHAR(50),
	@PASS VARCHAR(50),
	@USERNAME VARCHAR(50),
	@ROLE VARCHAR(50)
AS
BEGIN
	DECLARE @RET INT
	EXEC @RET =SP_ADDLOGIN @LGNAME,@PASS,'QL_KHOHANG'

	IF(@RET=1) -- LOGIN NAME BI TRUNG
	RETURN 1

	EXEC @RET=SP_GRANTDBACCESS @LGNAME, @USERNAME
	IF (@RET=1) --USER NAME BI TRUNG
	BEGIN
		EXEC SP_DROPLOGIN @LGNAME
		RETURN 2
	END
	EXEC sp_addrolemember @ROLE,@USERNAME

	IF @ROLE = 'CONGTY'
		BEGIN
			EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
			EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
			EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
		END

	IF @ROLE ='CHINHANH'
		BEGIN
			EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
			EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
			EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
		END
	IF @ROLE= 'USER'
		BEGIN
			EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
		END
END 
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 4/21/2021 9:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [nvarchar](10) NOT NULL,
	[TENCN] [nvarchar](50) NULL,
	[DCHI] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_E7B92164D22145BE90FF8434937F9144]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CHINHANH] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 4/21/2021 9:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHANG] [nvarchar](10) NOT NULL,
	[TENHANG] [nvarchar](100) NULL,
	[NGAYSX] [date] NULL,
	[NGAYHH] [date] NULL,
	[MANCC] [nvarchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_00AE517EBF664203985CC6FEA7A3E3DC]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHO]    Script Date: 4/21/2021 9:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [nvarchar](20) NOT NULL,
	[TENKHO] [nvarchar](20) NULL,
	[DCHI] [nvarchar](100) NULL,
	[MACN] [nvarchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_EBBEAD6196204E879BF4F2DF4DD25C79]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 4/21/2021 9:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [nvarchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_832249254B684DD7A649FFB06BCBCD88]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_NHACC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/21/2021 9:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[TENNV] [nvarchar](20) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[DCHI] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NULL,
	[MACN] [nvarchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_CBB7A4923566422FA9DB5A09D3E748C5]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 4/21/2021 9:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nvarchar](10) NOT NULL,
	[MAHANG] [nvarchar](10) NULL,
	[NGAYNHAP] [date] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_379A85162EB045579A6E128645ACF49B]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 4/21/2021 9:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [nvarchar](10) NOT NULL,
	[MAHANG] [nvarchar](10) NULL,
	[NGAYXUAT] [date] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_9F8871C4AC4F40439D2F8529606A3464]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANGHOA] ([MAHANG])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANGHOA] ([MAHANG])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT]
GO
